.contenue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.article {
  width: 33%;
  heigth: 250px;
  background-color: rgb(40,40,40);
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.article-vip {
  width: 33%;
  heigth: 75px;
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: rgb(220,172,9);
}

#dispo {
  background-color: green;
}

#indispo {
  background-color: red;
}
