.contenue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.article {
  width: 33%;
  background-color: rgb(40,40,40);
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.article-vip {
  width: 33%;
  background-color: rgb(220,172,9);
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

#dispo, #indispo {
  text-decoration: none;
  color: white;
  border: 2px outset rgb(50,50,50);
}

#dispo:hover, #indispo:hover {
  border: 2px inset rgb(50,50,50);
}

#dispo {
  background-color: green;
}

#indispo {
  background-color: red;
}
