.contenue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.connection, .creation {
  width: 50%;
  height: 400px;
  background-color: rgb(40,40,40);
  text-align: center;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.connection:hover {
  background-color: rgb(50,50,50);
}

.creation:hover {
  background-color: rgb(50,50,50);
}
