.contenue {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.connection {
  background-color: rgb(40,40,40);
  padding: 10%;
  text-align: center;
}

.creation {
  background-color: rgb(40,40,40);
  padding: 10%;
  text-align: center;
}
