.contenue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.connection, .creation {
  width: 50%;
  background-color: rgb(40,40,40);
  text-align: center;
  color: white;
  text-decoration: none;
}
