body {
  background-color: rgb(20,20,20);
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: white 0.3s ease;
}

.menu a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
