body {
  background-color: rgb(20,20,20);
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  position: relative;
  border: 1px solid rgb(20,20,20);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.menu a:hover::before {
  width: 100%;
}
